:root {
    --playfair-font: "Playfair Display", serif;
    --playball-font: "Playball", cursive;
    --agaleoz-font: "Agaleoz", sans-serif;
    --larken-font: "Larken DEMO", serif;
    --belina-font: "Bellina Seamy", sans-serif;
    --hdrTop-bg: #c8a77f;
    --active-txt-color: #f2dec5;
    --primary-color: #ffffff;
    --secondary-color: #FAEAD7;
    --tertiary-color: #F1DABF;
    --card-txt-color: #D9CEC1;
    --border-color: #E5D1B9;
    --duration: 3s;
    --shine-angle: 90deg;
    --shine-color: rgba(255, 255, 255, 0.4);
    --shine-background: linear-gradient(var(--shine-angle),
            rgba(255, 255, 255, 0) 0%,
            var(--shine-color) 50%,
            rgba(255, 255, 255, 0) 100%);

    --page-prinary-color: #F4E3CE;

    --animation-duration: 18s;
    --services-totalItems: 3;
}

body {
    background: url(../assets/page/body-bg.png) no-repeat center/cover;

}

.pageMini-container {
    max-width: 1468px;
}

/* Banner Section */

.hero-sec {
    padding: 106px 0 0;
}

.hero-wrpr {
    margin: 103px 0 15px;
}

.hero-hdr {
    padding: 10px;
    margin-bottom: 42px;
}

.heroTitle-1 {
    font-size: clamp(2rem, 3.2vw, 4.231rem);
    text-align: center;
    color: var(--page-prinary-color);

}


.heroTitle-1>span {
    font-size: clamp(1rem, 2.9vw, 2.5rem);
    transform: rotate(270deg);
    color: #F9D857;
}

.swiper7-cntn {
    max-width: 513px;
    height: 600px;
    border: 1px solid var(--border-color);
    margin: 0 auto;
}

.swiper7-cntn>img {
    object-fit: cover;
}


.swiper7 .swiper-slide {
    transition: all 0.5s ease;
    filter: blur(4px) brightness(0.6);
    transform: scale(0.9);
}

.swiper7 .swiper-slide-active {
    filter: blur(0) brightness(1);
    transform: scale(1);
    z-index: 2;
}

.swiper7 .swiper-slide-next,
.swiper7 .swiper-slide-prev {
    filter: blur(5px) brightness(0.8);
    transform: scale(0.95);
    z-index: 1;
}

.swiper7 {
    overflow: visible;
}

.swipe7-wrapper {
    padding-bottom: 30px;
}

.swiper-pagination-bullet {
    width: 18%;
    height: 1px;
    background: var(--border-color);
    opacity: .4;
    transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
    background: var(--border-color);
    transform-origin: center;
    opacity: 1;
}

/* Animation Section */

.anim-sec {
    padding: 30px 0;

}

.sponsorhip-animation {
    padding-block: 30px;
    position: relative;
    overflow: hidden;

    cursor: pointer;
    background: var(--border-color);
    cursor: grabbing;
}

.autoScroll-item {
    display: flex;
    align-items: center;
    position: absolute;
    white-space: nowrap;
    animation: slideRight linear infinite;
    animation-duration: var(--animation-duration);
    animation-delay: calc(var(--animation-duration) / var(--services-totalItems) * ((var(--services-totalItems) - var(--i)) * -1));
}

@keyframes slideRight {
    0% {
        right: -10%;
    }

    100% {
        right: 110%;
    }
}

.autoScroll-item>p {
    font-size: clamp(1.1rem, 2.5vw, 2.769rem);
    color: #472802;
    margin-left: 8px;
}

.autoScroll-item>span {
    color: #60340f;
    font-size: clamp(1.3rem, 2vw, 1.4rem);


}


.sponsorhip-animation:hover .autoScroll-item {
    animation-play-state: paused;

}

@media screen and (max-width:576px) {

    /* Animation Section */
    @keyframes slideRight {
        0% {
            right: 0%;
        }

        100% {
            right: 250%;
        }
    }

}