:root {
    --playfair-font: "Playfair Display", serif;
    --playball-font: "Playball", cursive;
    --agaleoz-font: "Agaleoz", sans-serif;
    --larken-font: "Larken DEMO", serif;
    --belina-font: 'Bellina', serif;
    --hdrTop-bg: #c8a77f;
    --active-txt-color: #f2dec5;
    --primary-color: #ffffff;
    --secondary-color: #FAEAD7;
    --tertiary-color: #F1DABF;
    --card-txt-color: #D9CEC1;
    --border-color: #E5D1B9;
    --duration: 3s;
    --shine-angle: 90deg;
    --shine-color: rgba(255, 255, 255, 0.4);
    --shine-background: linear-gradient(var(--shine-angle),
            rgba(255, 255, 255, 0) 0%,
            var(--shine-color) 50%,
            rgba(255, 255, 255, 0) 100%);

    --page-prinary-color: #F4E3CE;

    --animation-duration: 12s;
    --services-totalItems: 3;
    --page-secondary-color: #FDDFBC;
    --shop-animation-duration: 20s;
    --shop-services-totalItems: 5;
    --shop-primary-color: #F3E8DB;
    --shop-secondary-color: #7D4400;
    --bellMt-font: 'bellMt';
}

body {
    background: url(../assets/contact/contactUs-bg.png) no-repeat center/cover;
    font-family: var(--larken-font);
}


/* Product Section */
.product-sec {
    padding: 106px 0 0;
    margin: 117px 0 46px;
}

.box {
    border: 1px solid var(--border-color);
    padding: 54px 0;
}

.productImg-box {
    max-width: 718px;
    margin: 0 auto;
}

.product-img {
    max-width: 692px;
    margin-bottom: 54px;
    border: 1px solid var(--border-color);
    position: relative;
    overflow: hidden;
    cursor: zoom-in;
}

.product-img>img {
    object-fit: cover;
    display: block;
    transition: transform 0.3s ease;
}

.image-lightbox {
    position: fixed;
    z-index: 99;
    top: 5%;
    right: 0;
    width: 60%;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    cursor: zoom-out;
    opacity: 0;
    visibility: hidden;
    display: flex;
    transition: opacity 0.4s ease, visibility 0.4s ease;
}

.image-lightbox.show {
    opacity: 1;
    visibility: visible;
}

.image-lightbox img {
    max-width: 90%;
    max-height: 90%;
    border: 1px solid var(--border-color);
    object-fit: contain;
    border-radius: 8px;
    transform: scale(0.95);
    transition: transform 0.4s ease;
}

.image-lightbox.show img {
    transform: scale(1);
}

.produtList-item {
    max-width: 163px;
    border: 1px solid var(--border-color);
    margin-right: 24px;
}

.produtList-item:last-child {
    margin: 0;
}



.productTitle-1 {
    font-size: clamp(1.8rem, 2vw + 1rem, 2.31rem);
    color: var(--border-color);
    font-weight: 500;
}

.product-cntn>p:nth-child(2) {
    font-size: clamp(1.4rem, 2vw + 0.7rem, 1.92rem);
    color: rgba(229, 209, 185, 0.7);
    font-weight: 500;
}

.product-discount {
    border: 1px solid var(--border-color);
    display: inline-block;
    padding: 11.5px 15px;
    margin: 35px 0 25px;
}

.product-discount>p {
    font-size: clamp(1.3rem, 1vw + 0.7rem, 1.69rem);
    color: #FFEFDD;
    font-family: var(--belina-font);
    font-weight: bold;
}

.product-cntn>p:nth-child(4) {
    color: rgba(229, 209, 185, 0.6);
    font-size: clamp(1.4rem, 2vw + 0.6rem, 1.92rem);

    font-weight: 100;
}

.product-cntn>p:nth-child(5) {
    color: var(--border-color);
    font-size: clamp(1.4rem, 2vw + 0.6rem, 1.92rem);
    font-weight: 100;

    margin: 35px 0 64px;

}

.productSize-link {
    color: var(--border-color);
    font-weight: 500;
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

.product-title2 {
    font-size: clamp(1.4rem, 2vw + 0.6rem, 1.92rem);
    color: var(--border-color);

    font-weight: 300;
    margin-bottom: 14px;
}

.brkup {
    margin-right: 24px;
}

.brkup:last-child {
    margin: 0;
}

.brkup>p:first-child {
    color: var(--border-color);
    font-size: clamp(1.5rem, 2.5vw + 0.7rem, 2.08rem);
    font-weight: 100;
    text-transform: capitalize;
}

.brkup>p:last-child {
    color: rgba(229, 209, 185, 0.6);
    font-size: 20px;
    font-weight: 500;
}

.price {
    color: var(--border-color);
    margin: 40px 0;
}

.price>p:first-child {
    font-weight: var(--belina-font);
    font-weight: bold;
    font-size: clamp(1.7rem, 3vw + 0.8rem, 2.46rem);

}

.price>p:last-child {
    font-weight: 100;
    font-size: 20px;

}

.quantity-box {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--border-color);
    overflow: hidden;
    margin-right: 5px;

}

.qty-btn {
    width: 80px;
    background: transparent;
    height: 80px;
    color: var(--border-color);
    font-size: clamp(1.7rem, 3vw + 0.8rem, 2.46rem);
    transition: background 0.3s;

}

.qty-btn:hover {
    background: #222;
}

.qty-number {
    width: 80px;
    height: 80px;
    background: transparent;
    color: var(--border-color);
    font-size: clamp(1.7rem, 3vw + 0.8rem, 2.46rem);
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
}

.continue-btn {
    background: var(--border-color);
    color: black;
    padding: 22.5px 91.5px;
    font-size: clamp(1.4rem, 2vw + 0.6rem, 1.92rem);
    font-family: var(--belina-font);
    font-weight: bold;
    transition: all 0.3s ease;
}

.continue-btn:hover {
    background: #c8b49e;
}

/* Product Details Section */

.details-sec {
    border: 1px solid var(--border-color);
    padding: 68px 0;
    margin: 58px 0;
    color: var(--border-color);
}

.productDetails-title {
    font-size: clamp(2.5rem, 3vw + 1rem, 3.85rem);
    font-weight: 500;
}

.detailsTitle-2 {
    text-transform: capitalize;
    font-size: clamp(1.8rem, 3vw + 0.8rem, 2.69rem);
    margin: 35px 0;
}


.details-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(229, 209, 185, 0.3);
    font-weight: 300;
    font-size: clamp(1.1rem, 3vw + 0.8rem, 2rem);
    text-transform: capitalize;
    width: 100%;
}


.description-sec {
    padding: 37px 0;
    border: 1px solid var(--border-color);
}


.product-details {
    padding: 30px;
}

.tab-header {
    position: relative;
    display: flex;
    margin-bottom: 30px;
}

.tab-link {
    background: transparent;
    color: var(--border-color);
    font-size: clamp(1.4rem, 3vw + 0.8rem, 2.3rem);
    padding: 10px 0;
    position: relative;
    transition: color 0.3s ease;
    margin-right: 70px;
    text-transform: capitalize;
}

.tab-link:last-child {
    margin: 0;
}

.tab-link:hover {
    color: #fff;
}

.tab-underline {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background-color: #d9c7a1;
    transition:
        width 0.45s cubic-bezier(0.22, 1, 0.36, 1),
        transform 0.45s cubic-bezier(0.22, 1, 0.36, 1);
}


.tab-pane {
    display: none;
    color: rgba(255, 235, 211, 0.7);
    font-family: var(--larken-font);
    font-weight: 300;
    font-size: clamp(1.4rem, 3vw + 0.8rem, 2.3rem);
}

#description>p:first-child {
    margin-bottom: 30px;
}

#additional>p {
    margin-bottom: 20px;
}

#additional>p:last-child {
    margin: 0;
}


.tab-pane.active {
    display: block;
    animation: fadeIn 0.4s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* Related Product Section */

.related-sec {
    padding: 75px 0;
    border: 1px solid var(--border-color);
    margin: 50px 0;
}

.swiper2-title>p {
    text-align: start;
    font-family: var(--larken-font);
    font-weight: 500;
}

.swiper2-title>p:last-child {
    font-weight: normal;
    font-size: clamp(1.2rem, 2vw + 0.6rem, 1.92rem);
}

@media screen and (max-width:768px) {

    /* Product Section */
    .image-lightbox {
        top: 7%;
    }

    /* Product Details Section */
    .details-sec {
        margin: 30px 0;
    }


    /* Product Description Section */
    .description-sec {
        padding: 0;
    }

    .product-details {
        padding: 30px 10px;
    }

    .tab-link {
        margin-right: 40px;
    }



}





/* Responsive Section */
@media screen and (max-width:576px) {

    /* Product Section */
    .image-lightbox {
        top: 6%;
    }

    /* Product Section */
    .box {
        padding: 30px 0;
    }

    .continue-btn {
        padding: 12px 30px;
    }

    .qty-btn,
    .qty-number {
        width: 50px;
        height: 50px;
    }
}