/* Playfair & Playball Font Link */
@import url("https://fonts.googleapis.com/css2?family=Playball&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

/* Agaleoz Font Link */
@import url("https://fonts.cdnfonts.com/css/agaleoz");

/* Larken Demo Font */
@import url(https://db.onlinewebfonts.com/c/10775ee5d3135eef8153899cf2a85211?family=Larken+DEMO+Light);

/* Bellina Font */

:root {
    --playfair-font: "Playfair Display", serif;
    --playball-font: "Playball", cursive;
    --agaleoz-font: "Agaleoz", sans-serif;
    --larken-font: "Larken DEMO", sans-serif;
    --belina-font: "Bellina Seamy", sans-serif;
    --hdrTop-bg: #c8a77f;
    --active-txt-color: #f2dec5;
    --primary-color: #ffffff;
}

body,
html {
    /* overflow-x: hidden; */
    font-family: var(--larken-font);
    padding: 0 !important;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
p {
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1846px;
}

.large-container {
    max-width: 1920px;
}

/* Header Section */

.hdr-sec {
    position: absolute;
    width: 100%;
    top: 0;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(20px) brightness(1.1);
    -webkit-backdrop-filter: blur(20px) brightness(1.1);
    border: 1px solid rgba(255, 255, 255, 0.15);
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.4);
}

.navbar {
    flex-direction: column;
    padding-top: 0;
}

.hdr-top {
    background: var(--hdrTop-bg);
    width: 100%;
}

.hdrTop-cntn>p {
    font-size: 20px;
    background: linear-gradient(to right, #000000, #663f3a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-logo {
    text-align: center;
    margin-bottom: 14px;
}

.navbar-brand {
    max-width: 191px;
    padding: 0;
    margin: 0;
}

.navbar-brand>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Left Nav Bar */
.nav-contact {
    font-family: var(--belina-font);
    font-size: 20px;
    color: var(--primary-color);
}

/* Nav Links */
.nav-item {
    margin-right: 64px;
}

.nav-item:last-child {
    margin-right: 0;
}

.nav-link {
    padding: 0 !important;
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
    color: var(--primary-color);
}

.nav-item>.nav-link.active {
    color: #f2dec5;
    position: relative;
}

.nav-item>.nav-link.active::before {
    content: "";
    position: absolute;
    top: 110%;
    height: 1px;
    width: 100%;
    background: var(--active-txt-color);
}

/* Right Nav Bar */
.rightNav-list {
    justify-content: end;
}

.rightNav-item {
    margin-right: 35px;
}

.rightNav-item:last-child {
    margin-right: 0;
}

.rightNav-link {
    color: var(--primary-color);
    font-size: 20px;
}

.offcanvas {
    flex-direction: row;
}

.navbar-toggler-icon {
    border-radius: 20%;
    border: none;
    outline: none;
    background: none;
    font-size: 2.5rem;
    color: var(--primary-color);
}

.btn-close {
    font-size: 2rem;
    background: none;
    color: var(--primary-color);
}

.offcanvas-header .btn-close {
    margin: 0;
    padding: 0;
}

.btn-close:focus,
.btn-close:hover,
.navbar-toggler:focus,
.navbar-toggler {
    box-shadow: none;
    color: var(--primary-color);
    outline: none;
    border: none;
    padding: 0;
    margin: 0;
    line-height: normal;
}

/* Banner Section */

.bnr-sec {
    background: url(../assets/index/Herosection.png) no-repeat center/cover;
    min-height: 100vh;
}

@media screen and (max-width: 992px) {
    /* Header Section */


    .offcanvas {
        flex-direction: column;
        align-items: center;
        justify-content: start !important;
        background: transparent;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.9);
        backdrop-filter: blur(50px);
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        max-width: 310px;
        min-height: 100vh;
    }

    .offcanvas-header {
        width: 100%;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 576px) {

    /* Header Section */
    .navbar-toggler-icon {
        font-size: 2rem;
    }

    .navbar>.container {
        flex-direction: column;
    }

    .nav-left {
        order: 1;
    }

    .navbar-toggler {
        order: 2;
        align-self: flex-end;
    }

    .nav-right {
        order: 3;
    }
}