/* Playfair & Playball Font Link */
@import url("https://fonts.googleapis.com/css2?family=Playball&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

/* Agaleoz Font Link */
@import url("https://fonts.cdnfonts.com/css/agaleoz");

/* Larken Demo Font */
@import url(https://db.onlinewebfonts.com/c/10775ee5d3135eef8153899cf2a85211?family=Larken+DEMO+Light);

/* Bellina Font */

:root {
    --playfair-font: "Playfair Display", serif;
    --playball-font: "Playball", cursive;
    --agaleoz-font: "Agaleoz", sans-serif;
    --larken-font: "Larken DEMO", sans-serif;
    --belina-font: "Bellina Seamy", sans-serif;
    --hdrTop-bg: #c8a77f;
    --active-txt-color: #f2dec5;
    --primary-color: #ffffff;
    --secondary-color: #FAEAD7;
    --tertiary-color: #F1DABF;
    --card-txt-color: #D9CEC1;
    --border-color: #E5D1B9;
}

body,
html {
    overflow-x: hidden;
    font-family: var(--larken-font);
    padding: 0 !important;
    background: black;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
p {
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.container {
    max-width: 1846px;
}

.large-container {
    max-width: 1920px;
}



/* Header Section */

.hdr-sec {
    position: absolute;
    width: 100%;
    top: 0;


}

.navbar {
    flex-direction: column;
    padding-top: 0;
    background: rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.15);
    box-shadow: inset #00000061 11px 10px 20px 0px inset;


}

.large-container {
    flex-direction: column;

}

.bottomNavbar-cntn {
    width: 100%;
    justify-content: space-between;
}

.hdr-top {
    background: var(--hdrTop-bg);
    width: 100%;
}

.hdrTop-cntn>p {
    font-size: 20px;
    background: linear-gradient(to right, #000000, #663f3a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-logo {
    text-align: center;
    margin-bottom: 14px;
}

.navbar-brand {
    max-width: 191px;
    padding: 0;
    margin: 0;
}

.navbar-brand>img {
    object-fit: cover;
}

/* Left Nav Bar */
.nav-contact {
    font-family: var(--belina-font);
    font-size: 20px;
    color: var(--primary-color);
}

.nav-contact>span:first-child {
    margin-right: 15px;
}

/* Nav Links */
.nav-item {
    margin-right: 64px;

}

.nav-item:last-child {
    margin-right: 0;
}

.nav-link {
    padding: 0 !important;
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
    color: var(--primary-color);
}

.nav-item>.nav-link.active {
    color: var(--active-txt-color);
    position: relative;
}

.nav-item>.nav-link.active::before {
    content: "";
    position: absolute;
    top: 110%;
    height: 1px;
    width: 100%;
    background: var(--active-txt-color);
}

/* Right Nav Bar */
.rightNav-list {
    justify-content: end;

}

.rightNav-item {
    margin-right: 35px;
}

.rightNav-item:last-child {
    margin-right: 0;
}

.rightNav-link {
    color: var(--primary-color);
    font-size: 20px;
}

.offcanvas {
    flex-direction: row;
}



.navbar-toggler-icon {
    border-radius: 20%;
    border: none;
    outline: none;
    background: none;
    font-size: 2.5rem;
    color: var(--primary-color);
}

.btn-close {
    font-size: 2rem;
    background: none;
    color: var(--primary-color);
}

.offcanvas-header .btn-close {
    margin: 0;
    padding: 0;
}

.btn-close:focus,
.btn-close:hover,
.navbar-toggler:focus,
.navbar-toggler {
    box-shadow: none;
    color: var(--primary-color);
    outline: none;
    border: none;
    padding: 0;
    margin: 0;
    line-height: normal;
}

/* Banner Section */

.bnr-sec {
    background: url(../assets/index/Herosection.png) no-repeat center/cover;
    padding: 110px 0 0;
    border: 1px solid var(--hdrTop-bg);
    background-attachment: fixed;
    background-position: top;
}

.bnr-wrpr {
    position: relative;
    z-index: 10;
    text-align: center;
}

.bnr-cntn {

    text-align: center;
    margin: 117px auto 0;
    max-width: 750px;
}

.title-1 {
    max-width: 490px;
    margin: 0 auto;
    font-family: var(--agaleoz-font);
    font-size: clamp(3.5rem, 6.9vw + 1rem, 5.4rem);


}

.title-1>span:nth-child(1),
.title-1>span:nth-child(2) {
    background: linear-gradient(180deg, #FFFFFF, #F1DABF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.bnr-cntn>p {
    font-size: clamp(0.9rem, 1vw + 0.8rem, 1.6rem);
    color: var(--secondary-color);
    margin-top: 10px;
}

.bnr-img {
    max-width: 477px;
    margin: 24px auto 44px;
}



.left-bnrImg {
    max-width: 239px;
    position: absolute;
    top: 10%;
    z-index: -1;

}

.left-bnrImg::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 500px;
    background: rgba(229, 209, 185, 0.3);
    top: 100%;
    left: 0;
}



.left-bnrCntn {
    max-width: 239px;
    border: 1px solid rgba(241, 218, 191, 0.5);
    position: absolute;
    top: 35%;
    left: 5%;
    padding: 90px 39.5px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;

}

.left-bnrCntn>p {
    font-size: 24px;
    text-align: center;
    color: var(--tertiary-color);
}


.leftBtm-img {
    max-width: 195px;
    position: absolute;
    top: 80%;
    left: 10%;
}



.leftBtm-circle {
    max-width: 109px;
    position: absolute;
    top: 89%;
    left: 18%;
}

.bnr-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.primary-btn {
    font-size: 32px;
    font-family: var(--playfair-font);
    background: linear-gradient(to right, #8b888818, #DAA87E);
    box-shadow: 5px -2px 20px 0px #daa77e79;
    padding: 23px 61.5px;
    border-radius: 60px;
    transition: 0.3s ease;

    &:hover {
        transform: translateY(3px);
        box-shadow: none;

    }
}

.primary-btn>span {
    background: linear-gradient(to right, #F2DEC5, #FFFFFF);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

}


.arrow-btn {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    position: relative;
    background: transparent;
    color: #DAA87E;
    font-size: 22px;
    overflow: hidden;
    padding: 30px 31px;
    transform: rotate(-30deg);
    margin-left: 16px;
    transition-duration: 2s;

}

.arrow-btn::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 1px;
    border-radius: 50%;
    background: linear-gradient(to right, #F1DABF, #8B7964);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}

.arrow-btn>span {
    display: inline-block;
    transition: transform 1s;
}

.arrow-btn:hover>span {
    transform: rotate(390deg) scale(1.2);
}

.bnr-btn:hover .arrow-btn>span {
    transform: rotate(390deg) scale(1.2);
}



.right-bnrImg {
    max-width: 239px;
    position: absolute;
    top: 18%;
    right: 6%;
}

.right-bnrImg::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 500px;
    background: rgba(229, 209, 185, 0.3);
    top: 100%;
    right: -40%;
    z-index: -1;
}

.rightTop-circle {
    max-width: 111px;
    position: absolute;
    top: 30%;
    right: 4%;
}


.right-Bnrcntn {
    max-width: 294px;
    position: absolute;
    top: 50%;
    right: 5%;
    padding-bottom: 9px;
    border-bottom: 1px solid var(--tertiary-color);
    z-index: -1;
}

.right-Bnrcntn>p {
    font-size: clamp(1rem, 1.87vw, 2.31rem);
    color: var(--tertiary-color);

}

.bnrCard {
    max-width: 586px;
    margin: 5.7rem auto 0;
    min-height: 650px;
    position: relative;
    overflow: hidden;
    perspective: 1000px;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    cursor: grab;
}

.bnrCard:hover {
    box-shadow: 0 8px 16px rgba(2, 2, 2, 0.315);
}

.bnrCard-cntn {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-family: var(--playfair-font);
    padding: 69px 28px 23px;
    background: rgba(0, 0, 0, 0.4);
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.bnrCard:hover .bnrCard-cntn {
    transform: rotateX(0deg);
}


.cardImg-1 {
    background: url(../assets/index/card-1.png) no-repeat center/cover;
}

.cardImg-2 {
    background: url(../assets/index/card-2.png) no-repeat center/cover;
}

.cardImg-3 {
    background: url(../assets/index/card-3.png) no-repeat center/cover;
}


.title-2 {
    background: linear-gradient(330deg, #F6F5F5, #F5E4D2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: clamp(2rem, 2.5vw + 1rem, 5rem);
}

.bnrCard-cntn>p {
    font-size: clamp(1rem, 1vw + 1rem, 1.85rem);
    color: var(--card-txt-color);

}

.bottom-bnrCntn {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.secondary-btn {
    padding: 23px 26px;
    border: 1px solid;
    border-radius: 60px;
    overflow: hidden;
    font-size: 32px;
    position: relative;
    background: transparent;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.secondary-btn::after {
    content: "";
    position: absolute;
    inset: 0;
    padding: 2px;
    border-radius: 60px;
    background: linear-gradient(180deg, #A3A3A3, #FFFEFE);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}

.secondary-btn>span:last-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 5%;
    height: 5%;
    background: linear-gradient(to right, #e9917b, #010101);
    border-radius: 60px;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.320, 1);
}

.secondary-btn>span:first-child {
    text-transform: capitalize;
    background: linear-gradient(to right, #c2baba, #F5E4D2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    position: relative;
    z-index: 1;
}

.secondary-btn:hover {
    box-shadow: 0 0 0 5px #2195f360;
}

.secondary-btn:active {
    scale: 0.95;
}

.secondary-btn:hover span:last-child {
    width: 100%;
    height: 100%;
    opacity: 1;
}

.arrow-btn2::before {
    opacity: 0;
}

.arrow-btn2 {
    background: linear-gradient(30deg, #E3C1AC, #D7A170);
    margin-left: 0;
}

.arrow-btn2>span {
    background: linear-gradient(#5f5a59, #605552);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bottmBnr-card {
    align-items: end;
    padding: 0 20px 30px;
    flex-direction: row;
}

.lastCard-cntn {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.lastCard-cntn>p {
    max-width: 265px;
    font-size: 32px;
    font-weight: 600;
    color: var(--tertiary-color);
}

/* Jewellery Collection Section */
.jwl-sec {
    border: 1px solid var(--border-color);
    background: black;
    margin: 19px 0;
    padding: 71px 0 141px;
}

.title-3 {

    font-family: var(--playfair-font);
    font-size: clamp(1.8rem, 4vw, 4.233rem);
    font-weight: bold;
    color: var(--active-txt-color);
}

.jwl-right {
    align-items: center;
    display: flex;
    justify-content: end;
}

.tertiary-btn {
    font-family: var(--playfair-font);
    font-size: 36px;
    font-weight: 500;
    color: var(--active-txt-color);
    text-align: end;
    margin-right: 20px;
    position: relative;
}


.tertiary-btn::before {
    content: "";
    position: absolute;
    height: 2px;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: scaleX(0);
    transform-origin: bottom right;
    background: var(--active-txt-color);
    transition: transform 0.25s ease-out;
}

.tertiary-btn:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.swiper1 {
    margin-top: 75px;
}

.swiper1-cntn {
    max-width: 421px;
    min-height: 533px;
    display: flex;
    border: 1px solid var(--active-txt-color);
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
}



.frame-1 {
    background: url(../assets/index/1st-frame.png) no-repeat center/cover;
}

.frame-2 {
    background: url(../assets/index/2nd-frame.png) no-repeat center/cover;
}

.frame-3 {
    background: url(../assets/index/3rd-frame.png) no-repeat center/cover;
}

.frame-4 {
    background: url(../assets/index/4th-frame.png) no-repeat center/cover;
}

.topCard-cntn {
    padding: 30px;
    width: 100%;
    text-align: end;
    cursor: pointer;
}


.topCard-cntn>span {
    font-size: 29px;
    color: var(--active-txt-color);
}

.fa-heart {
    transition: color 0.6s ease;
}

.fa-heart.active {
    color: red;
}

.bottomCard-cntn {
    padding: 0 20px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottomSwiper-left {
    font-family: var(--larken-font);
}

.bottomSwiper-left>p:first-child {
    font-size: 24px;
    font-weight: 500;
    color: #FDE9D7;

}

.bottomSwiper-left>p:last-child {
    font-size: 24px;
    font-weight: normal;
    color: var(--border-color);
    display: flex;
    align-items: center;
}


.bottomSwiper-left>p:last-child>span:first-child {
    margin-right: 5px;
    margin-left: -5px;
}

.bottomSwiper-right {
    width: 40px;
    height: 40px;
    border: 1px solid rgba(229, 209, 185, 1);
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.bottomSwiper-right>span {
    position: absolute;
    background: var(--primary-color);
    border-radius: 2px;
    transition: 0.3s ease;
}


.bottomSwiper-right>span:first-child {
    width: 2px;
    height: 16px;
}


.bottomSwiper-right>span:last-child {
    width: 16px;
    height: 2px;
}

.bottomSwiper-right.active>span:first-child {
    opacity: 0;
}


/* Responsive Section */
@media screen and (max-width:1448px) {

    /* Banner Section */

    .secondary-btn {
        padding: 19px 17px;
    }
}

@media screen and (max-width:1200px) {

    /* Banner Section */
    .left-bnrImg::after {
        width: 250px;
    }

    .left-bnrImg,
    .right-bnrImg {
        max-width: 185px;
    }

    .left-bnrCntn {
        max-width: 182px;
        padding: 37px 26.5px;
    }

    .leftBtm-img {
        max-width: 150px;
        left: 6%;
    }

    .leftBtm-circle {
        max-width: 75px;
        top: 88%;
        left: 15%;
    }

    .rightTop-circle {
        max-width: 90px;
        top: 27%;
        right: 3%;
    }

    .right-Bnrcntn {
        max-width: 191px;
        right: 2%;
    }

    /* .bnrCard-cntn>p {
        margin: 59px 0 120px;
    } */


}

@media screen and (max-width: 992px) {

    /* Header Section */
    .offcanvas {
        flex-direction: column;
        align-items: center;
        justify-content: start !important;
        background: transparent;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.9);
        backdrop-filter: blur(50px);
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        max-width: 310px;
        min-height: 100vh;

    }

    .offcanvas-header {
        width: 100%;
        margin-bottom: 30px;
    }

    .nav-item {
        margin-right: 0;
        margin-bottom: 15px;
    }

    .rightNav-list {
        justify-content: center;
        gap: 10px;
    }

    /* Banner Section */
    .bnr-img {
        max-width: 400px;
    }

    .left-bnrImg {
        max-width: 160px;
        top: 26%;
    }

    .left-bnrCntn {
        max-width: 156px;
        padding: 50px 10px;
        left: 1%;
        top: 49%;
    }

    .left-bnrCntn>p {
        font-size: 20px;
    }

    .leftBtm-img {
        left: 0;
    }

    .leftBtm-circle {
        left: 12%;
    }

    .right-bnrImg {
        max-width: 160px;
        top: 37%;
        right: 0%;
    }

    .right-bnrImg::after {
        right: 0;
    }

    .rightTop-circle {
        max-width: 79px;
        top: 45%;
        right: 0%;
    }

    .right-Bnrcntn {
        top: 60%;
        right: 0;
        max-width: 187px;

    }

    .primary-btn {
        padding: 14px 33.5px;
        font-size: 25px;
        box-shadow: 0px 0px 9px 0px #daa77e79;
    }

    .arrow-btn {
        width: 60px;
        height: 60px;
        font-size: 18px;
        padding: 18px;
    }

    .secondary-btn {
        font-size: 25px;
    }

    .cardImg-3 {
        margin: 2.7rem auto 0;
    }

    .bnrCard {
        min-height: 547px;
    }

}



@media screen and (max-width:768px) {

    /* Banner Section */
    .title-1 {
        max-width: 410px;
    }

    .left-contentImg {
        display: none;
    }

    .bnrCard {
        min-height: 468px;
        margin: 2.7rem auto 0;
    }


}

@media screen and (max-width: 576px) {

    /* Header Section */
    .navbar-toggler-icon {
        font-size: 2rem;
    }

    .bottomNavbar-cntn {
        flex-direction: column;
    }

    .nav-left {
        order: 1;
    }

    .navbar-toggler {
        order: 2;
        align-self: flex-end;
    }

    .nav-right {
        order: 3;
    }

    /* Banner Section */
    .bnr-sec {
        padding: 175px 0 0;
    }

    .title-1 {
        max-width: 327px;
    }

    .bnrCard {
        min-height: 512px;
    }

    .lastCard-cntn {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .lastCard-cntn>p {
        margin-bottom: 20px;
    }
}